<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSession</servlet-name>
        <servlet-class>ServletsUsuario.InicioSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuario</servlet-name>
        <servlet-class>ServletsUsuario.RegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarMaterial</servlet-name>
        <servlet-class>ServletMaterial.EliminarMaterial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarMaterial</servlet-name>
        <servlet-class>ServletMaterial.ModificarMaterial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AñadirCarrito</servlet-name>
        <servlet-class>Cotizacion.AñadirCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarMatCarrito</servlet-name>
        <servlet-class>Cotizacion.EliminarMatCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CotiPDF</servlet-name>
        <servlet-class>Cotizacion.CotiPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostrarAllMateriales</servlet-name>
        <servlet-class>ServletMaterial.mostrarAllMateriales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DescuentoCotizacion</servlet-name>
        <servlet-class>ServletMaterial.DescuentoCotizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LimpiarCarro</servlet-name>
        <servlet-class>Cotizacion.LimpiarCarro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSession</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuario</servlet-name>
        <url-pattern>/RegistroU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarMaterial</servlet-name>
        <url-pattern>/EliminarMat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarMaterial</servlet-name>
        <url-pattern>/ModificarMat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AñadirCarrito</servlet-name>
        <url-pattern>/AgregarCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarMatCarrito</servlet-name>
        <url-pattern>/EliminarCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CotiPDF</servlet-name>
        <url-pattern>/CotizacionPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostrarAllMateriales</servlet-name>
        <url-pattern>/mostrarAllMat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DescuentoCotizacion</servlet-name>
        <url-pattern>/DescuentoCoti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LimpiarCarro</servlet-name>
        <url-pattern>/LimpiarCar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
